$light-blue: #c1cef1;
$dark-blue: #4c66bf;
$dark-brown: #845b25;
$light-brown: #e7e1cc;
$light-green: #bde66e;
$dark-green: #6c9612;

$wood-light: #bc9039;
$wood-dark: #8b6028;

$logo-yellow: #eabf33;
$light-logo-yellow: #fcd230;

$dark-purple: #79497a;